body{
   margin: 0;
   display: flex;
   flex-direction: column;
   padding:0;
   background-color: #1F2937;
}
.header{
    display: flex;
    color: white;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 42px
}
.Introduction{
    display: flex;
    color: white;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}

.Introtext{
    height: 300px;
    width: 600px;
}

.picture1{
    width: 400px;
    height: 400px;
    padding: 0px;   
}

button{
    padding: 8px 16px;
    border-radius: 8px;
    width: 100px;
    height: 40px;
}

button.signup{
    background-color: orange; 
    border: none;
    color: black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


.title{
    font-family: #f9faf8;
    font-weight: bolder;
    font-size: 48px;
    padding: 16px; 
}
.subtext{
    color: white;
    font-size: 12px;
    padding: 8px;
}

.Information{
    
    display: flex;
    font-family: #1F2937;
    background-color: white;
    flex-direction: column;
    align-items: center;
    min-height: 75vh;
    justify-content: center;

}
.contact{
 
    background-color: white;
    display: flex;
    justify-content: center;
    min-height: 30vh;
    align-items: center;

}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 52px;
}
.info
{
    max-width: 200px;
}

.picture2{
    border-radius: 15px 50px 30px 5px;
    background: #0a0a08;
    padding: 20px;
    width: 200px;
    height: 250px;

}

.Inspiration{
    display: flex;
    min-height: 30vh;
    background-color: #E5E7EB;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quote{
    font-style: #1F2937;
    font-style:italic;
    font-size: 24px;
    padding: 0px;
    gap: 0px;
    margin: 16px 16px;
    padding: 8px 16px;
   
}
.byquote{
    display: flex;
    justify-content: flex-end;
    padding: 8px;
    font-style:normal;
    font-size: 16px;
}


.logo{
    color: white;
    font-weight:bold;
    font-family: #f9faf8;
    font-size: 24px;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
}
a{
    font-size: 18px;
    font-family: #E5E7EB;
    color: white;
    font-weight: normal;
    list-style-type: none;
    text-decoration: none;
}
.contactcontainer{
    background-color: #3882f6;
    display: flex;
    height: 150px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border-width: 8px;
    width: 100vh

}
.calltoaction{
    font-size: 32px;
    font-weight: bolder;
    color: white;
    padding: 8px;
    margin: 8px;

}
.call{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    width: 50%;
}

.button{
    display: flex;
    justify-content: center;
    width: 50%;
}
.copyright{
    display: flex;
    justify-content: center;
    height: 8vh;
    align-items: center;
    color: white;
}
